.control {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 150px;
  margin: 5px 10px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.label {
  margin: 5px;
}
