.nav {
  width: 100%;
  min-height: 50px;
  max-height: 340px;
  position: fixed;
  top: 0;
  z-index: 99;
  color: black;
  background-color: #fff;
  background-image: linear-gradient(to bottom, #fff 0, #f8f8f8 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 14px;
  border-bottom: 1px solid #e7e7e7;
}

.navOpen {
  @media (max-width: 1024px) {
    flex-direction: column;
  }
}

.title {
  color: #777;
  margin: 0;
}

.openTitle {
  @media (max-width: 1024px) {
    margin-bottom: 40px;
  }
}

.fullScreenMobileClosed {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;

  @media (max-width: 1024px) {
    display: none;
  }
}

.fullScreenMobileOpen {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  @media (max-width: 1024px) {
    flex-direction: column;
  }
}

.busCount {
  padding: 10px;
}

.refresh {
  margin: 15px;
  height: 30px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  background-image: none;
  -webkit-appearance: none;
}

.refreshIcon {
  height: 25px;
  width: 25px;
}

.control {
  width: 100%;
  max-width: 150px;
  margin: 5px;
  font-weight: bold;
}

.label {
  margin: 5px;
}
