#container,
body,
html {
    font-family: Lato, sans-serif!important;
    height: 100%;
    width: 100%;
    margin: 0;
}

select {
  margin-top: -3px; !important
}



#gmap {
    display: block;
    position: absolute;
    height: 100%;
    weight: 100% bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.progressText {
    margin-left: 20px;
}

.liBuffer {
    margin-top: 8px;
}

.liAntiBuffer {
  margin-top: -8px;
}

.liBtnBuffer {
    margin-top: -2px;
    margin-left: 10px;
}
